*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
section
    {
        height: 100vh;
        overflow: hidden;
        background-color: black;
    }

    p
    {
        position:  relative;
        font-size: 0.7em;
        letter-spacing: -0.05em;
        line-height: .7em;
        background: url('winnie.png'), url('winnie.png');
        background-position: center;
        background-blend-mode: color-dodge;
        background-attachment: fixed;
        text-justify: fixed;
        text-align: justify;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
        -webkit-background-clip: text;
        color: transparent;

    }

#nextbtn {
  position: fixed;
  right: 5vmin;
  bottom: 5vmin;
  padding: 1vmin 4vmin;
  background: linear-gradient(90deg, #ffb6d5 0%, #f672b0 100%);
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 2vmin;
  box-shadow: 0 2px 8px rgba(246, 114, 176, 0.2);
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, box-shadow 0.3s;
  z-index: 200;
}